.App {
  text-align: center;
}


h1{
  padding-top: 20px;
  padding : 20px;
  background-color: rgb(233,224,222);
  margin: 10px;
  height: 60px;
}
.search{
  display: flex;
  justify-content: center;
  margin: 20px;
}

